:root {
    color-scheme: light dark;
}

.calc {
    width: 240px;
    margin: 15% auto;
    text-align: center;
}

.display {
    width: 90%;
    height: 50px;
    padding: 9px;
    margin-bottom: 14px;
    font-size: 24px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
}

button {
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}

.number {
    background-color: light-dark;
    color: light-dark;
    border: 1px solid rgb(202, 202, 202);
}

.number:active {
    background-color: gainsboro;
}

.operator {
    background-color: slategray;
    color: whitesmoke;
    border: 1px solid rgb(90, 103, 116);
}

.operator:active {
    background-color: rgb(96, 110, 124);
}

.clearbtn {
    background-color: crimson;
    color: whitesmoke;
    border: 1px solid rgb(121, 10, 33);
}

.clearbtn:active {
    background-color: rgb(197, 20, 56);
}

img {
    padding-top: 10px;
    width: 50px;
}